.term-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@keyframes appearance {
    form {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.term-list_item {
    animation: appearance 500ms;
}